* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0
}

h1 {
    font-family: 'Permanent Marker', cursive;    
    color: rgb(238, 210, 53);
    font-size: 64px;
    border-radius: .25em;
    padding: 0 10px;
    margin: .25em 0;
    overflow: hidden;
}


.home-text {
    font-family: 'Permanent Marker', cursive;
    font-size: 32px; 
    color: rgb(238, 210, 53);
    background-color: rgba(23, 39, 57, 0.651);
    border-radius: .5em;
    padding: 0 10px;
}

.bg {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    background-color: darkgrey;
    background-image: url("../images/pokeballs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    position: relative;
    background-attachment: fixed;
}

.form {

    font-size: 32px;
    color: white;
    background-color: rgba(33, 37, 41, 0.651);
    border-radius: .5em;
    padding: 10px;

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control{
    padding: .5em
}

.submit_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn {
    background-color: rgb(31, 104, 191);
    border: 1px solid rgb(87, 102, 121);
}

.btn:hover {
    background-color: rgb(45, 94, 158);
}
.card-title, .card-subtitle{
  color: white;
  background-color:rgb(33, 37, 41);
  padding-bottom: 5px;
  border-radius: 5px;
    
}

  .btn-primary{
    margin: 1em;
  }
  
  .list-group-item{
    color: white;
    background-color:rgb(33, 37, 41);
  }

  h5, .card-img-top, .btn-primary {
    position: relative;
    z-index: 1;
    overflow: hidden
  }


.navbar-collapse:last-of-type {
    position: absolute;
    right: 0;
}

.victory-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.card-container {
    margin: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.card-body.text-white {
    display: flex;
    flex-direction:column-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 5em;
}

@media screen and (max-width: 991px) {
    .navbar-collapse:last-of-type {
      position: static;
      right: auto;
    }
  }
  

div[data-type='fire'] {
    background-image: url('../images/fire.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}
div[data-type='water'] {
    background-image: url('../images/water.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;
} 
div[data-type='ground'] {
    background-image: url('../images/ground.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;
}

div[data-type='bug'] {
    background-image: url('../images/bug.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;
}

div[data-type='dark'] {
    background-image: url('../images/dark.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;
}

div[data-type='electric'] {
    background-image: url('../images/electric.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='fairy'] {
    background-image: url('../images/fairy.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='fighting'] {
    background-image: url('../images/fighting.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='flying'] {
    background-image: url('../images/flying.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='ghost'] {
    background-image: url('../images/ghost.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='grass'] {
    background-image: url('../images/grass.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='ice'] {
    background-image: url('../images/ice.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='normal'] {
    background-image: url('../images/normal.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='poison'] {
    background-image: url('../images/poison.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='psychic'] {
    background-image: url('../images/psychic.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='rock'] {
    background-image: url('../images/rock.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='steel'] {
    background-image: url('../images/steel.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

div[data-type='dragon'] {
    background-image: url('../images/dragon.png');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}

.trainer-card {
    background-image: url('../images/trainer.png');
    background-position: center;
    background-size: cover;
    background-color: rgb(143, 143, 143);
    background-blend-mode: multiply;

}











