{% if selected_pokemon.type == 'fire' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fire.css') }}">
{% elif selected_pokemon.type == 'water' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/water.css') }}">
{% elif selected_pokemon.type == 'grass' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grass.css') }}">
{% elif selected_pokemon.type == 'electric' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/electric.css') }}">
{% elif selected_pokemon.type == 'ice' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ice.css') }}">
{% elif selected_pokemon.type == 'fighting' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fighting.css') }}">
{% elif selected_pokemon.type == 'poison' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/poison.css') }}">
{% elif selected_pokemon.type == 'ground' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ground.css') }}">
{% elif selected_pokemon.type == 'flying' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flying.css') }}">
{% elif selected_pokemon.type == 'psychic' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/psychic.css') }}">
{% elif selected_pokemon.type == 'bug' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bug.css') }}">
{% elif selected_pokemon.type == 'rock' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rock.css') }}">
{% elif selected_pokemon.type == 'ghost' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ghost.css') }}">
{% elif selected_pokemon.type == 'dark' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
{% elif selected_pokemon.type == 'dragon' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dragon.css') }}">
{% elif selected_pokemon.type == 'steel' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/steel.css') }}">
{% elif selected_pokemon.type == 'fairy' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fairy.css') }}">
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endif %} 