{% extends 'base.html' %}
{% block title %}
My Pokemon
{% endblock %}



{% block content %}
<div class="victory-container home-text">
  <p class="text">These are your pokemon! Feel free to let them go if you want!</p>
</div>
<div class="card-container">
{% if user_pokemon %}
{% for pokemon in user_pokemon  %}
  <div class="card text-center border-dark" style="width: 18rem;">
    <div class="position-relative">
      <div class="card-img-overlay" data-type="{{pokemon.pokemon_type.lower()}}"></div>
      <img src="{{pokemon.small_sprite}}" class="card-img-top" alt="pokemon">
      <div class="card-body">
        <h5 class="card-title">{{pokemon.name.title()}}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ability: {{pokemon.ability.title()}}</li>
          <li class="list-group-item">HP : {{pokemon.hp_base_stat}}</li>
          <li class="list-group-item">Defense: {{pokemon.defense_base_stat}}</li>
          <li class="list-group-item">Attack: {{pokemon.attack_base_stat}}</li>
          <li class="list-group-item"> Type: {{pokemon.pokemon_type.title()}}</li>
        </ul>
          <a href="{{url_for('main.release', name=pokemon.name)}}" class="btn btn-primary">Release</a>
      </div> 
    </div>
  </div> 
{% endfor %}
{% endif %}
</div>
{% endblock %}